html {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.column{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.textbox{
  position: relative;
  display: flex;
  height: 400px;
  width: 550px;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  text-align: left;
  text-indent: .5em;
  overflow: scroll;
}

.textbox-heading{
  font-size:medium;
  background-color: rgb(187, 187, 187);
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}


.main{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-around;
  height: 100vh;
  width: 90vw;
  overflow: hidden;
}

.sidebar{
  position:relative;
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 10vw;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to bottom, #E43471, #B66CC9);
}

.sidebarLink{
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

.sidebarLink:active{
  color:black;
}

.page{
  position:relative;
  display:flex;
  flex-direction: row;
}

@media screen and (max-width: 768px){
  .textbox{
      width: 85vw;
      height: 250px;
  }
  .main{
      flex-direction: column;
      justify-content: start;
      align-items: center;
      width: 100vw;
  }

  .sidebar{
      display: none;
  }

}

@keyframes change-border-color {
  0% { border-color: #000; }
  50% { border-color: #ff0000; }
  100% { border-color: #000; }
}

.input-file {
  margin-top: 30px;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border:#E43471;
  animation: change-border-color 2s infinite;
}

.input-description {
  width: 65%;
  color: black;
  /* background-image: linear-gradient(to bottom, #E43471, #B66CC9); */
  display: flex;
  position: relative;
  font-family: 'Comfortaa';
  text-align: center;
  font-size: 1.7em;
}

input[type="file"] {
  /* display: none; */
}

.video {
  margin-bottom: 20px;
}

.vtt-bttn {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #E43471, #B66CC9);
    border-width: 3px;
    border-color:#000;
}

/* 
.input_container {
  border: 1px solid #e5e5e5;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  color: #000;
  border: 0px;
  border-right: 1px solid #e5e5e5;
  padding: 10px 15px;
  margin-right: 20px;
  transition: .5s;
}

input[type=file]::file-selector-button:hover {
  background-color: #eee;
  border: 0px;
  border-right: 1px solid #e5e5e5;
} */